// Form Components
.form-register {
    padding: 1rem;
    max-width: 30rem;
    width: 100%;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;

    > .form-control,
    > label {
        padding: .75rem;
    }

    > label {
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: #495057;
        position: absolute;
        left: 0;
        top: 0;
    }

    > .form-control::placeholder {
        color: transparent !important;
    }

    > input:not(:placeholder-shown) {
        padding-top: calc(1.5rem * (2 / 3));
        padding-bottom: calc(.75rem / 3);
    }

    > input:not(:placeholder-shown)~label {
        padding-top: calc(.75rem / 3);
        padding-bottom: calc(.75rem / 3);
        font-size: 12px;
        color: #777;
    }

}
